<h1><%=@word.word %></h1>

<h2>Definitions</h2>

<ol>
  <% @word.definitions.each() do |word| %>
    <li>(Type: <%= word.type %>) <%= word.definition %></li>
  <% end %>
</ol>

<h3>Add a New Definition:</h3>
<form action="/word_info" method="post">
  <input id='word_id' name='word_id' type='hidden' value='<%= @word.id() %>'>

  <label for='new_definition'>Enter Definition:</label>
  <input id='new_definition' name='new_definition' type='text'>

  <label for='word_type'>Enter Word Type(noun, verb, adverb, or adjective):</label>
  <input id='word_type' name='word_type' type='text'>


<button type="submit">Add Definition</button>
</form>

<a href="/">Return to Dictionary Home</a>
